name: Lint

on:  # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - '**.py'
  push:  # This triggers the workflow on any commit to the repository
    branches:
      - main
    paths:
      - '**.py'

permissions: { }

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Super-linter
        uses: super-linter/super-linter@v7.1.0 # x-release-please-version
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_PYTHON_FLAKE8: true
          VALIDATE_PYTHON_MYPY: true